In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
cd C:\Users\user\Documents\Assignment 3

C:\Users\user\Documents\Assignment 3

In [3]:
train_data = pd.read_csv("house_prices_train.csv") 
test_data = pd.read_csv("house_prices_test.csv")

In [4]:
print("Shape of train: ", train_data.shape)
print("Shape of test: ", test_data.shape)

Shape of train:  (738, 9)
Shape of test:  (150, 8)

In [5]:
train_data.isnull().sum()

ID                    0
Bathrooms           102
Bedrooms             21
Erf Size            161
Garages             288
Listing Date          0
Price                 2
Type of Property      0
Location              0
dtype: int64

In [6]:
train_data.head()

,ID,Bathrooms,Bedrooms,Erf Size,Garages,Listing Date,Price,Type of Property,Location
0,1003,4.0,4.0,NaN,2.0,2019-10-28,4299000.0,House,"lat: 51.5073509,long: -0.1277583"
1,1011,2.0,3.0,1 733 m²,2.0,2019-06-05,2800000.0,House,"lat: 51.5073509,long: -0.1277583"
2,1016,2.0,3.0,987 m²,1.0,2019-10-31,980000.0,House,"lat: 51.5073509,long: -0.1277583"
3,1019,2.0,3.0,1 539 m²,2.0,2019-10-14,1795000.0,House,"lat: 51.5073509,long: -0.1277583"
4,1029,2.0,3.0,70 m²,NaN,2019-10-02,837780.0,House,"lat: 51.5073509,long: -0.1277583"

# Question-1 Data Cleaning

In [7]:
train_data = train_data.drop(labels=['Erf Size', 'Type of Property', 'Listing Date', 'Location'], axis=1)
train_data.shape

(738, 5)

In [8]:
train_data.isnull().sum()

ID             0
Bathrooms    102
Bedrooms      21
Garages      288
Price          2
dtype: int64

In [9]:
for col in train_data.columns.values:
    missing_values = train_data[col].isnull().sum()
    #print("{} - missing values: {} ({:0.2f}%)".format(col, missing_values, missing_values/data_len*100)) 
    
    # drop column if there is more than 50 missing values
    if missing_values > 50:
        #print("droping column: {}".format(col))
        train_data = train_data.drop(col, axis = 1)
    # if there is less than 50 missing values than fill in with median valu of column
    else:
        #print("filling missing values with median in column: {}".format(col))
        train_data = train_data.fillna(train_data[col].median())

In [10]:
train_data.isnull().sum()

ID           0
Bathrooms    0
Bedrooms     0
Garages      0
Price        0
dtype: int64

In [11]:
train_data

       ID  Bathrooms  Bedrooms  Garages      Price
0    1003        4.0       4.0      2.0  4299000.0
1    1011        2.0       3.0      2.0  2800000.0
2    1016        2.0       3.0      1.0   980000.0
3    1019        2.0       3.0      2.0  1795000.0
4    1029        2.0       3.0   2465.5   837780.0
..    ...        ...       ...      ...        ...
733  3980        1.0       2.0   2465.5   880000.0
734  3985     2465.5    2465.5   2465.5  2750000.0
735  3991        2.0       3.0      2.0  1895000.0
736  3996        1.0       2.0   2465.5   230000.0
737  3999        2.0       4.0      3.0  1850000.0

[738 rows x 5 columns]

In [22]:
train_data.describe()

                ID    Bathrooms     Bedrooms      Garages         Price
count   738.000000   738.000000   738.000000   738.000000  7.380000e+02
mean   2478.681572   342.569106    73.255420   963.418699  2.026252e+06
std     869.557030   850.750231   409.686784  1202.480242  2.205559e+06
min       1.000000     1.000000     1.000000     1.000000  2.465500e+03
25%    1734.750000     2.000000     2.250000     2.000000  8.800000e+05
50%    2465.500000     2.000000     3.000000     2.000000  1.399500e+06
75%    3215.750000     3.000000     4.000000  2465.500000  2.333750e+06
max    3999.000000  2465.500000  2465.500000  2465.500000  3.000000e+07

# Question-2

In [25]:
print("Minimum Sale Price :", train_data["Price"].min())
print("Minimum Number of Garage :", train_data["Garages"].min())
print("First Quartile of Erf Size : {} m2".format(train_data["Bathrooms"].quantile(q=0.25)))
print("Mean of Bedrooms :", round(train_data["Bedrooms"].mean(), 3))

Minimum Sale Price : 2465.5
Minimum Number of Garage : 1.0
First Quartile of Erf Size : 2.0 m2
Mean of Bedrooms : 73.255

# Creating Linear Regression Model

In [12]:
X_train = train_data.iloc[:, :3].values
y_train = train_data.iloc[:, 3].values

In [13]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()

In [14]:
linreg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
print("Score : ", linreg.score(X_train, y_train))

Score :  0.08196131383997984

In [28]:
coeff = linreg.coef_.reshape(-1)

for i, j in zip(train_data, coeff):
    print("{} : {}".format(i, j))

ID : 0.047524107533045264
Bathrooms : -0.2952137422857119
Bedrooms : 0.8775381496424608

# Testing Model

In [16]:
test_data

,ID,Bathrooms,Bedrooms,Erf Size,Garages,Listing Date,Type of Property,Location
0,4001,2.0,2.0,70 m²,NaN,2019-06-03,Apartment / Flat,"lat: 51.5073509,long: -0.1277583"
1,4002,1.0,2.0,91 m²,NaN,2019-02-05,Townhouse,"lat: 51.5073509,long: -0.1277583"
2,4003,2.0,2.0,72 m²,NaN,2019-05-03,Townhouse,"lat: 51.5073509,long: -0.1277583"
3,4007,4.0,4.0,265 m²,2.0,2019-02-12,House,"lat: 51.5073509,long: -0.1277583"
4,4016,2.0,3.0,213 m²,2.0,2018-08-07,Townhouse,"lat: 51.5073509,long: -0.1277583"
...,...,...,...,...,...,...,...,...
145,4572,1.0,2.0,2 000 m²,NaN,2019-07-02,House,"lat: 51.5073509,long: -0.1277583"
146,4575,2.0,4.0,NaN,2.0,2017-10-17,House,"lat: 51.5073509,long: -0.1277583"
147,4580,1.0,2.0,NaN,NaN,2017-11-29,Townhouse,"lat: 51.5073509,long: -0.1277583"
148,4592,2.0,3.0,1 016 m²,2.0,2019-04-25,House,"lat: 51.5073509,long: -0.1277583"
149,4595,2.0,3.0,995 m²,2.0,2018-04-23,House,"lat: 51.5073509,long: -0.1277583"

In [17]:
test_data = test_data.drop(labels=['Erf Size', 'Type of Property', 'Listing Date', 'Location'], axis=1)
test_data.shape

(150, 4)

In [18]:
for col in test_data.columns.values:
    missing_values = test_data[col].isnull().sum()
    #print("{} - missing values: {} ({:0.2f}%)".format(col, missing_values, missing_values/data_len*100)) 
    
    # drop column if there is more than 50 missing values
    if missing_values > 50:
        #print("droping column: {}".format(col))
        test_data = train_data.drop(col, axis = 1)
    # if there is less than 50 missing values than fill in with median valu of column
    else:
        #print("filling missing values with median in column: {}".format(col))
        test_data = test_data.fillna(test_data[col].median())

In [19]:
test_data

       ID  Bathrooms  Bedrooms  Garages
0    4001        2.0       2.0   4273.0
1    4002        1.0       2.0   4273.0
2    4003        2.0       2.0   4273.0
3    4007        4.0       4.0      2.0
4    4016        2.0       3.0      2.0
..    ...        ...       ...      ...
145  4572        1.0       2.0   4273.0
146  4575        2.0       4.0      2.0
147  4580        1.0       2.0   4273.0
148  4592        2.0       3.0      2.0
149  4595        2.0       3.0      2.0

[150 rows x 4 columns]

In [20]:
X_test = test_data.iloc[:, :3].values
y_test = test_data.iloc[:, 3].values

In [21]:
y_pred = linreg.predict(X_test)
y_pred

array([1073.7768546 , 1074.11959245, 1073.87190281, 1075.22664806,
       1075.36725436, -185.11044608, 1077.39740621, 1075.39267426,
       1076.90006092, 1075.78293621, 1080.26567518, 1077.5058392 ,
       -182.37946774, 1077.10550815, 1077.5888523 , 1078.21870081,
       -181.00126862, 1078.49181034, 1081.30641814, 1078.72943088,
       1079.88204458, 1080.51189309, 1080.65446541, 1079.63238892,
       1081.0265552 , 1081.12970649, 1081.51996845, 1080.73747851,
       -180.02536657, 1081.16519548, -180.52271186, -179.50260139,
       1081.40281602, 1081.73548477, 1082.41285739, 1081.97310531,
       1083.56743711, 1081.42823591, 1081.77097376, 1082.40082228,
       1081.96107019, 1082.73349103, 1082.97111157, 3569.29616545,
       1082.6264077 , 1083.83858062, 1083.39882853, -177.31649244,
       1082.94900735, 1083.62441396, -176.4135344 , 3570.72188868,
       1083.95708271, 1084.68197944, 1084.33727557, 1084.96712408,
       1085.97913148, -175.55810047, 1085.77503391, 1085.28775772,
       -174.89276296, 1085.43033004, -174.60761832, 1086.29779909,
       1085.70540559, 1087.5555301 , 1086.14319165, 1086.82056428,
       1086.86808838, 1087.4979369 , 1087.44844677, 1086.71348095,
       -172.63702569, 1086.80852916, 1086.85605327, 1087.42830858,
       -171.97168819, 1087.36874935, 1088.47187292, 3575.42677532,
       1088.947114  , 1090.45450066, 1089.62448662, 1090.59707299,
       3575.99706462, 1090.29179015, -169.92815156, 1089.51740329,
       1095.24363313, 1090.7751343 , 1090.03009938, 1091.58501015,
       1090.56293366, 1091.33535449, 1092.45051318, 1091.62049914,
       1092.5455614 , 1092.000692  , 1092.14326432, 1092.91568516,
       1091.84608456, 1092.37081576, -166.38926339, 1093.8287123 ,
       1093.293912  , 1093.56898755, 1094.4940498 , 1093.46190421,
       -168.52121687, 1094.23432505, 1094.28184916, 1093.93714529,
       3581.17719234, 1094.6024828 , 1095.23233131, 1094.63993781,
       1094.10513751, 1095.89766882, 3582.27024681, 1096.9653034 ,
       1096.13528935, 1098.0977789 , 3583.50587361, -164.3645153 ,
       1098.38095752, 1098.46593664, 3584.69397629, 1098.4044114 ,
       1099.31940456, 1098.92717658, 1099.99481116, 1099.98474206,
       1100.41245903, -160.30286195, 1101.52761772, 3586.92760935,
       3587.11770578, 1101.22233488, -159.87514498, 3587.40285042,
       1100.68556856, 1101.36294118, -155.79470309, 1100.72302357,
       1100.81807179, 1101.20833374, 1102.81076862, 1101.5885266 ,
       1102.7411403 , 1102.88371262])